<section id="grades" class="table-section">
    @*<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>*@
    <h2><span data-bind="text: currentStudentForGradeView().FirstName"></span><span> </span><span data-bind="text: currentStudentForGradeView().LastName"></span> grades table
    </h2>

    <table class="table">
        <thead class="table-header">
        <tr class="table-row">
            <th class="cell">Course name</th>
            <th class="cell">Value</th>
            <th class="cell">Date of issue</th>
            <th class="cell">Actions</th>
        </tr>
        </thead>
        <!-- Todo: Generate table body -->
        <tbody data-bind="foreach: grades">
        <tr class="table-row">
            <th class="cell">
                <input type="text" data-bind="value: CourseName" required />
            </th>
            <th class="cell">
                <input type="number" data-bind="value: Value" required/>
            </th>
            <th class="cell">
                <input type="date" data-bind="datePicker: IssueDateTime" required/>
            </th>
            <th class="cell actions">
                <div class="action-buttons">
                    <div data-bind="visible: Id() != '' ">
                        <button data-bind="click: $root.updateGrade">Save</button>
                        <button data-bind="click: $root.deleteGrade">Delete</button>
                    </div>
                    <div data-bind="visible: Id() == '' ">
                        <button data-bind="click: $root.createGrade">
                            Create
                        </button>
                    </div>
                </div>
            </th>
        </tr>
        </tbody>

        <tfoot class="table-footer">
        <tr class="table-row button-row">
            <th class="cell"></th>
            <th class="cell"></th>
            <th class="cell"></th>
            @*<th class="cell"></th>*@

            <th class="cell">
                <button data-bind="click: prepareGrade, visible: !newGradePreparation()">
                    Add grade
                </button>
                <button data-bind="click: cancelPrepareGrade, visible: newGradePreparation()">
                    Cancel adding
                </button>
            </th>
        </tr>
        </tfoot>

    </table>
</section>

<section id="courses" class="table-section">
    <h2>Courses table</h2>
    @*<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>*@
    @*<pre data-bind="text: ko.toJSON(coursesRequest.Tutor(), null, 2)"></pre>*@
    <table class="table">
        <thead class="table-header">
            <tr class="table-row">
                <th class="cell">Course name</th>
                <th class="cell">Tutor name</th>
                @*<th class="cell">Numeber of students</th>*@
                <th class="cell">Actions</th>
            </tr>           
            <tr class="table-row">
                <th class="cell"><input class="search" type="search" data-bind="value: coursesRequest().CourseName, valueUpdate: 'keyup'" /></th>
                <th class="cell"><input class="search" type="search" data-bind="value: coursesRequest().Tutor, valueUpdate: 'keyup'" /></th>
                @*<th class="cell">Numeber of students</th>*@
                <th class="cell">
                    <div style="visibility: hidden"> 
                        @*<button>See grades</button>
                        <button>See students</button>*@
                        <button>Save</button>
                        <button>Delete</button>
                    </div>                
                </th>
            </tr>
        </thead>
        <!-- Todo: Generate table body -->
        <tbody data-bind="foreach: courses">
            <tr class="table-row">
                <th class="cell">
                    <input type="text" data-bind="value: CourseName" required />
                </th>
                <th class="cell">
                    <input type="text" data-bind="value: Tutor" required />
                </th>
                @*<th class="cell">
                    <input type="number" value="15" required />
                </th>*@
                <th class="cell actions">
                    <div class="action-buttons">
                        <div data-bind="visible: Id() != '' ">
                            @*<button data-bind="click: $root.seeCourseGrades">See grades</button>
                            <button>See students</button>*@
                            <button data-bind="click: $root.updateCourse">Save</button>
                            <button data-bind="click: $root.deleteCourse">Delete</button>
                        </div>
                        <div data-bind="visible: Id() == '' ">
                            <button data-bind="click: $root.createCourse">
                                Create
                            </button>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>

        <tfoot class="table-footer">
            <tr class="table-row button-row">
                <th class="cell"></th>
                <th class="cell"></th>
                @*<th class="cell"></th>*@

                <th class="cell">
                    <button data-bind="click: prepareCourse, visible: !newCoursePreparation()">
                        Add course
                    </button>
                    <button data-bind="click: cancelPrepareCourse, visible: newCoursePreparation()">
                        Cancel adding
                    </button>
                </th>
            </tr>
        </tfoot>

    </table>

        @*<div class="table">

                <div class="table-row table-header">
                    <div class="cell">
                        Course name
                    </div>
                    <div class="cell">
                        Tutor name
                    </div>
                    <div class="cell">
                        Number of students
                    </div>
                    <div class="cell actions">
                        Actions
                    </div>
                </div>

                <div class="table-row">
                    <div class="cell">
                        <input type="text" value="TPSI" />
                    </div>
                    <div class="cell">
                        <input type="text" value="Tomasz Pawlak" />
                    </div>
                    <div class="cell">
                        <input type="number" value="15" />
                    </div>
                    <div class="cell actions">
                        <button>
                            See grades
                        </button>
                        <button>
                            See students
                        </button>
                        <button>
                            Save
                        </button>
                        <button>
                            Delete
                        </button>
                    </div>
                </div>

                <div class="table-row">
                    <div class="cell">
                        <input type="text" value="TPSI2" />
                    </div>
                    <div class="cell">
                        <input type="text" value="Abc Def" />
                    </div>
                    <div class="cell">
                        <input type="number" value="15" />
                    </div>
                    <div class="cell actions">

                    </div>
                </div>

            </div>*@
</section>

<section id="students" class="table-section default-section">
    <h2>Students table</h2>

    <table class="table">
        <thead class="table-header">
            <tr class="table-row">
                <th class="cell">Index</th>
                <th class="cell">First name</th>
                <th class="cell">Last name</th>
                <th class="cell">Birth date</th>
                <th class="cell">Actions</th>
            </tr>
            <tr class="table-row">
                <th class="cell"><input class="search" type="search" data-bind="value: studentsRequest().Id, valueUpdate: 'keyup'" /></th>
                <th class="cell"><input class="search" type="search" data-bind="value: studentsRequest().FirstName, valueUpdate: 'keyup'" /></th>
                <th class="cell"><input class="search" type="search" data-bind="value: studentsRequest().LastName, valueUpdate: 'keyup'" /></th>
                <th class="cell">@*<input class="search" type="search" data-bind="value: studentsRequest().BornDate, valueUpdate: 'keyup'" />*@</th>
                <th class="cell">
                    <div style="visibility: hidden">
                        <button>See grades</button>
                        @*<button>See courses</button>*@
                        <button>Save</button>
                        <button>Delete</button>
                    </div>
                </th>
            </tr>
        </thead>
        <!-- Todo: Generate table body -->
        <tbody data-bind="foreach: students">
            <tr class="table-row">
                <th class="cell">
                    <span data-bind="text: Id"></span>
                </th>
                <th class="cell">
                    <input type="text" data-bind="value: FirstName" required />
                </th>
                <th class="cell">
                    <input type="text" data-bind="value: LastName" required />
                </th>
                <th class="cell">
                    <input type="date" data-bind="datePicker: BornDate" required />
                </th>
                <th class="cell actions">
                    <div class="action-buttons">
                        <div data-bind="visible: Id() != '' ">
                            <a href="#grades" data-bind="click: $root.getStudentGrades">See grades</a>
                            @*<button>See courses</button>*@
                            <button data-bind="click: $root.updateStudent">Save</button>
                            <button data-bind="click: $root.deleteStudent">Delete</button>
                        </div>
                        <div data-bind="visible: Id() == '' ">                     
                            <button data-bind="click: $root.createStudent">
                                Create
                            </button>
                        </div>                        
                    </div>
                </th>
            </tr>           
        </tbody>

        <tfoot class="table-footer">
            <tr class="table-row button-row">
                <th class="cell"></th>
                <th class="cell"></th>
                <th class="cell"></th>
                <th class="cell"></th>

                <th class="cell">
                    <button data-bind="click: prepareStudent, visible: !newStudentPreparation()">
                        Add student
                    </button>
                    <button data-bind="click: cancelPrepareStudent, visible: newStudentPreparation()">
                        Cancel adding
                    </button>
                </th>
            </tr>
        </tfoot>

    </table>

    @*<div class="table">

        <div class="table-row header">
            <div class="cell">
                Index
            </div>
            <div class="cell">
                First name
            </div>
            <div class="cell">
                Last name
            </div>
            <div class="cell">
                Birth date
            </div>
            <div class="cell actions">
                Actions
            </div>
        </div>

        <div data-bind="foreach: students">
            <div class="table-row">
                <div class="cell">
                    <span data-bind="text: Id"></span>
                </div>
                <div class="cell">
                    <input type="text" data-bind="value: FirstName" />
                </div>
                <div class="cell">
                    <input type="text" data-bind="value: LastName" />
                </div>
                <div class="cell">
                    <input type="date" data-bind="text: BornDate" />
                </div>
                <div class="cell actions">
                    <button>
                        See grades
                    </button>
                    <button>
                        See courses
                    </button>
                    <button>
                        Save
                    </button>
                    <button>
                        Delete
                    </button>
                </div>
            </div>
        </div>*@    

        @*<div class="table-row">
            <div class="cell">
                109501
            </div>
            <div class="cell">
                <input type="text" value="Arkadiusz" />
            </div>
            <div class="cell">
                <input type="text" value="Chorian" />
            </div>
            <div class="cell">
                <input type="date" value="1993-10-23" />
            </div>
            <div class="cell actions">
                <button>
                    See grades
                </button>
                <button>
                    See courses
                </button>
                <button>
                    Save
                </button>
                <button>
                    Delete
                </button>
            </div>
        </div>

        <div class="table-row">
            <div class="cell">
                109502
            </div>
            <div class="cell">
                <input type="text" value="Fgh" />
            </div>
            <div class="cell">
                <input type="text" value="Ijk" />
            </div>
            <div class="cell">
                <input type="date" value="1993-10-10" />
            </div>
            <div class="cell actions">

            </div>
        </div>

    </div>*@
</section>

@*<div style="font-size: 30px; display: block; color: #D7D7D7;">
    ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
    a broad range of clients, including browsers and mobile devices. ASP.NET Web API
    is an ideal platform for building RESTful applications on the .NET FrameworkASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework
</div>*@

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
